/ Main Information
%h2 Main Information

%table

  %tr
    %td.right_align Teacher:
    %td= @course[:teacher]

  -if @course[:start_date] != nil
    %tr
      %td.right_align Date:
      %td= @course[:start_date].to_s + " to " + @course[:end_date].to_s

  -if @course[:start_time] != nil and @course[:end_time] != nil
    %tr
      %td.right_align Time:
      %td= @course[:days] + " from " + @course[:start_time].to_s + " to " + @course[:end_time].to_s

/ Teaching Assistants
-unless @course[:assistants].size == 0

  %h2 Teaching Assistants

  %table
    -@course[:assistants].each do |assistant|
      %tr
        %td= assistant

/ Syllabus
%h2 Syllabus
