!!!
%html
  %head
    - if @title != nil
      %title= @course[:number] + " - " + @title
    - else
      %title= @course[:number]

    %link{:rel => "stylesheet", :href => @path + "css/main.css", :type => "text/css"}
  %body
    .header
      %p
        =@course[:title]

    / Navigation Bar
    = Tilt::HamlTemplate.new(@theme_path + '/common/navigation.haml').render

    / Content Begins Below
