%html
  %head
    - if @title != nil
      %title= @course[:number] + " - " + @title
    - else
      %title= @course[:number]
    %link{"rel" => "stylesheet", "href" => "css/main.css", "type" => "text/css"}
  %body
    = Tilt::HamlTemplate.new('common/navigation.haml').render
    %p Foo
    / Content Begins Below
